*{
    font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  padding: 20px;
  color: #003366;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
}


h2 {
  background-color: #005999;
  font-weight: 800;
  font-size: 18px;
  padding: 20px;
  color: #ffffff;
  width: 90%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

h3{
    margin-top: -20px;
    font-weight: bold;
    font-size: 18px;
}
body {
    margin: 0;
    background-image: url("/cycle4.1.21-demo/IDS_Final_Design.png");
     background-color: #aaa;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     font-size: 15px;
     padding-top: 50px;
     height: 100%;
    /* background-attachment: fixed; */
  }

  /* Iframe styling */
iframe {
  border: 1px solid #ccc;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 100px;
}

  .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 5px;
    margin-bottom: -100px;
  }

  .idsLogo{
    width: 200px;
    height: 150px;
  }


.clock-wrapper {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center;
    color: #1F5385;
}

.clock-display {
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock-divider {
    width: 3px;
    height: 20px;
    background-color: #1F5385; /* or any color you want */
}


.respondents {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

#location{
  text-align: center;
  font-size: 16px;
  font-weight: 900;
}


  .poweredBy{
    align-items: center;
    gap: 5px;
  }

  .poweredBy p{
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 14px;
    color: #000000;
  }

  .dataBlu{
    width: 10%;
  }

/* 
  .idsLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

  .surveyQuestions{
    position: relative;
    padding-top: 20px;
    color: #1F5385;
    text-align: center;
    justify-content: center; 
    height: auto;
    width: auto;
    border-radius: 10px;
    display: block;
    font-weight: 900;
    font-size: 18px;
  }

  .survey-question {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.survey-question.fade-out{
    opacity: 0;
}

.survey-option {
    display: inline-block; 
    width: auto;
    padding: 10px 20px;
    background-color: #1F5385;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

/* .survey-option:hover {
    background-color: #0056b3 ;
    border: 1px black;
    color: white;
} */

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin: 5px;
}

.system-bubble {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 1px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: auto;
    align-self: flex-start;
    font-size: 16px;
    text-align: center;
}

.previousQuestion-bubble {
    background-color: #FFCC00; 
    color: black; 
    border-radius: 10px;
    padding: 1px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.surveyFinish-bubble {
    background-color: #005A0A;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 1px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
    align-self: flex-start;
    font-size: 16px;
    text-align: center;
}



.lain-lain-option{
    background-color: #007bff;
}

.options-container {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.dataBlu{
    width: 150px;
    margin-top: -10px;
    margin-bottom: 30px;
}


footer{
    color: #003366;
    font-weight: 900;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 95%;
    font-size: 20px;
}

#timeout-timer {
  width: 98%;
  padding: 10px;
  font-size: 30px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  text-align: right;
  color: black;
}


table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 5px;
    font-family: 16px;
    font-weight: 600;
}

table tr{
    background-color: #FFFFFF;
}

th, td {
    /* border: 1px solid black; */
    padding: 8px;
    text-align: center;
}

th {
    background-color: #1F5385;
    color: #FFFFFF;
}

td{
  border-bottom: 1px solid #000000;
  font-weight: 0;
  color: #000;
}

/* Modal Overlay */
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}


.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.logout-button:hover {
    background-color: #c9302c;
}

#timeout-timer{
  width: 90%;
  padding: 10px;
  font-size: 20px; 
  font-weight: 800;
  text-align: right;
  color: black;
}

#countdown{
  margin-left:10px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust if needed */
  background-color: #005999;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 9999;
  justify-content: space-between;
}

/* Hamburger icon */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 20px;
}

/* Title next to hamburger */
.navbar-title {
  font-size: 20px;
  font-weight: 900;
  margin-left: 20px;
}

/* Sidepanel*/
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  justify-content: space-between;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #003366;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 70px;
}

.sidepanel a {
  margin-top: 10px;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.2s;
  font-weight: 800;
}

.sidepanel a:hover {
  background-color: #005999;
}

.navbar-username {
  font-weight: 500;
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: right;
  margin-left: auto;
  margin-right: 30px;
  font-weight: 800;
}

@media (max-width: 900px) {

  body{
    margin: 10px;
  }

  table{
    width: 90%;
}

iframe{
    width: 95%;
    height: 300px;
}

    .navbar-title{
      display: none;
    }

    #timeout-timer{
      width: 90%;
      font-size: 16px;
      display: block;
      align-items: center;
      text-align: center;
    }

}